.header {
    background-color: rgba(51, 51, 51, 0.9);
}
.main-wrap {
    width: 100%;
    min-height: 500px;
    padding: 140px 0 90px;
    background: #F1F3F3 url("../images/background.png") no-repeat right 104%;
}
.main {
    width: 960px;
    margin: 0 auto;
    min-height: 500px;
    font-family: 'Oswald', sans-serif;
    opacity: 0;
    position: relative;
    top: 50px;
}
.main h2 {
    color: #333;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.portrait {
    background: #fff url("../images/profile.jpg") no-repeat center center;
    -webkit-background-size: 250px 396px;
    -moz-background-size: 250px 396px;
    -o-background-size: 250px 396px;
    background-size: 250px 396px;
    float: left;
    width: 250px;
    height: 396px;
    border: 1px solid #333;
    border-top: 6px solid #333;
    border-right: none;
}
.overlay {
    background-color: #fff;
    width: 250px;
    height: 396px;
    position: relative;
}
.overlay .loader {
    background: #fff url("../images/icons/loader2.gif") no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -10px;
}
.about {
    float: left;
    border: 1px solid #333;
    border-top: 6px solid #333;
    background-color: rgba(255, 255, 255, 0.85);
    width: 644px;
    line-height: 1.3;
    height: 366px;
    padding: 30px 30px 0;
}
.about p {
    text-align: left;
    font-size: 22px;
    color: #222;
    font-weight: 300;
    margin-bottom: 60px;
}
.about a {
    color: #F03247;
    text-decoration: none;
}
.about a:hover {
    color: #333;
    text-decoration: underline;
}
.about span {
    display: block;
    padding-top: 70px;
    font-weight: 300;
    font-size: 15px;
}