.slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 620px;
}
.image-change {
    width: 100%;
    height: 100%;
    background-color: #333;
}
.image-change .slide-background, .image-change .overlay {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0); /* fix chrome lag */
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.image-change .overlay {
    z-index: 4;
    background-color: #111;
    text-align: center;
    padding-top: 170px;
}
.overlay img {
    display: none;
    width: 212px;
    height: 13px;
}
.image-change div.active {
    z-index: 3;
}
.image-change div:nth-child(2) {
    background-image: url("../images/slideshow/background1.jpg");
    z-index: 3;
}
.image-change div:nth-child(3) {
    background-image: url("../images/slideshow/background2.jpg");
    z-index: 1;
}
.image-change div:nth-child(4) {
    background-image: url("../images/slideshow/background3.jpg");
    z-index: 1;
}
.image-change div:nth-child(5) {
    background-image: url("../images/slideshow/background4.jpg");
    z-index: 1;
}
.slogan {
    text-align: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    width: 580px;
    height: 220px;
    margin-left: -290px;
    margin-top: -110px;
    -webkit-font-smoothing: antialiased;
}
.slogan h2 {
    text-shadow: 2px 2px #000;
    font-size: 52px;
}
.slogan p {
    text-shadow: 2px 2px #000;
    margin-top: 17px;
    font-size: 26px;
}
.slogan-buttons {
    width: 580px;
    margin-top: 50px;
}
.slogan a {
    display: inline-block;
    text-shadow: 1px 1px #000;
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
    border: 2px solid #555;
    width: 150px;
    padding: 20px 25px;
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: border-color .3s, background-color .3s;
    -moz-transition: border-color .3s, background-color .3s;
    -o-transition: border-color .3s, background-color .3s;
    transition: border-color .3s, background-color .3s;
}
.slogan a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: #777;
}
.scroll-down {
    width: 72px;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 100%;
    color: #fff;
    border: 2px solid #777;
    position: absolute;
    z-index: 7001;
    bottom: 35px;
    left: 50%;
    opacity: 0.8;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: border-color .3s, opacity .3s;
    -moz-transition: border-color .3s, opacity .3s;
    -o-transition: border-color .3s, opacity .3s;
    transition: border-color .3s, opacity .3s;
    cursor: pointer;
}
.scroll-down:hover {
    opacity: 1;
    border-color: #ccc;
}
.scroll-down i {
    font-size: 54px;
    margin-top: 9px;
    margin-left: 1px;
    -webkit-transition: font-size .15s;
    -moz-transition: font-size .15s;
    -o-transition: font-size .15s;
    transition: font-size .15s;
}
.scroll-down:hover i {
    font-size: 60px;
}
.middle-wrap {
    background: #fff url("../images/pattern.png") repeat;
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 12;
}
.middle {
    position: relative;
    opacity: 0;
    left: 300px;
    width: 960px;
    height: 100%;
    margin: 60px auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #333;
}
.middle h2 {
    font-size: 42px;
}
.middle .icons {
    width: 100%;
    height: 200px;
    padding-top: 45px;
}
.middle .icon-block {
    display: inline-block;
    width: 235px;
    height: 200px;
    position: relative;
}
.icon-block p {
    padding-bottom: 25px;
    font-size: 22px;
    font-weight: 300;
}
.icon-block:after {
    content: "\26AB";
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 90px;
    left: 214px;
}
.icon-block:last-child:after {
    content: "";
}
.icon {
    font-size: 60px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    cursor: pointer;
}
.icon:hover {
    opacity: 0.85;
}
.icon-block:nth-child(even) .icon {
    background-color: #F03247;
}
.icon-block:nth-child(odd) .icon {
    background-color: #333;
}
.reviews-wrap {
    height: 400px;
    width: 100%;
    min-width: 1000px;
    overflow-x: hidden;
}
.reviews-background {
    background: transparent url("../images/reviews-background.jpg") no-repeat;
    min-width: 1000px;
    height: 700px;
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: 1;
}
.reviews-wrap .overlay {
    position: absolute;
    text-align: center;
    background-color: #111;
    z-index: 10;
    width: 100%;
    height: 400px;
    min-width: 1000px;
}
.reviews-wrap .overlay img {
    margin-top: 50px;
}
.reviews {
    margin: 0 auto;
    width: 960px;
    text-align: center;
    position: relative;
    z-index: 11;
}
.reviews .review {
    color: #fff;
    text-shadow: 2px 2px #000;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    position: absolute;
    z-index: 50;
    top: 90px;
    width: 500px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}
.reviews .review-active {
    opacity: 1;
}
.reviews .review p {
    font-style: italic;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}
.reviews .review span {
    font-size: 26px;
    font-weight: 300;
}
.change-review {
    color: #fff;
    margin: 0 auto;
    width: 960px;
    text-align: center;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 300px;
    z-index: 12;
}
.change-review .review-previous, .change-review .review-next {
    display: inline-block;
    border: 3px solid #000;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 0 20px 10px 20px;
    text-align: center;
    color: #000;
    -webkit-transition: padding-left .3s, padding-right .3s, background-color .3s;
    -moz-transition: padding-left .3s, padding-right .3s, background-color .3s;
    -o-transition: padding-left .3s, padding-right .3s, background-color .3s;
    transition: padding-left .3s, padding-right .3s, background-color .3s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 15;
}
.change-review .review-previous:hover, .change-review .review-next:hover {
    background-color: rgba(255, 255, 255, 0.95);
}
.change-review .review-previous:hover {
    padding-left: 16px;
    padding-right: 24px;
}
.change-review .review-next:hover {
    padding-left: 24px;
    padding-right: 16px;
}
.footer-wrap {
    border-top: 1px solid #D90D24;
}