body {
    background: #F1F3F3 url("../images/background.png") no-repeat;
}
.header {
    background-color: rgba(51, 51, 51, 0.9);
}
.main-wrap {
    width: 100%;
    padding: 140px 0;
    min-height: 500px;
}
.main {
    width: 960px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}
.main h2 {
    color: #333;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}
.main p {
    color: #444;
    margin: 15px 0 45px;
    font-size: 20px;
    text-align: center;
}
.left-shop {
    float: left;
    width: 200px;
    background-color: rgba(51, 51, 51, 0.95);
    -webkit-box-shadow: 1px 1px 0 #222, 2px 2px 0 #222, 3px 3px 0 #222, 4px 4px 0 #222, 5px 5px 0 #222, 6px 6px 0 #222;
    -moz-box-shadow: 1px 1px 0 #222, 2px 2px 0 #222, 3px 3px 0 #222, 4px 4px 0 #222, 5px 5px 0 #222, 6px 6px 0 #222;
    box-shadow: 1px 1px 0 #222, 2px 2px 0 #222, 3px 3px 0 #222, 4px 4px 0 #222, 5px 5px 0 #222, 6px 6px 0 #222;
    min-height: 500px;
}
.left-shop h3 {
    color: #F03247;
    font-size: 20px;
    padding: 10px 15px;
    border-bottom: 1px solid #888;
}
.left-shop h3:last-of-type {
    margin-top: 20px;
}
.left-shop ul li a {
    color: #fff;
    font-weight: 300;
    background-color: #333;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #888;
    padding: 10px 15px;
    font-size: 18px;
    -webkit-transition: color .2s, background-color .2s;
    -moz-transition: color .2s, background-color .2s;
    -o-transition: color .2s, background-color .2s;
    transition: color .2s, background-color .2s;
}
.left-shop ul li a:hover {
    color: #333;
    background-color: #eee;
}
.left-shop .shop-current {
    background-color: #222;
    border-bottom: 2px solid #F03247;
    border-top: 2px solid #F03247;
}
.left-shop .above-current {
    border: none;
}
.left-inner {
    position: relative;
    width: 200px;
}
.right-shop {
    float: right;
    width: 744px;
    padding: 0 0 0 16px;
    margin-bottom: 25px;
}
.right-shop p {
    font-size: 20px;
    color: #333;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 5px;
    font-weight: 300;
}
.right-shop .shop-info {
    padding-bottom: 5px;
}
.right-shop .shop-info .shop-title {
    word-spacing: 10px;
    width: 300px;
    display: inline-block;
}
.right-shop .shop-info span {
    word-spacing: 3px;
}
.right-shop .shop-info .cart {
    display: inline-block;
    width: 420px;
    text-align: right;
}
.right-shop .shop-info #cart-price {
    font-size: 24px;
    padding-right: 8px;
}
.right-shop .shop-info #view-cart {
    font-size: 46px;
    padding: 0 14px 4px 12px;
    position: relative;
    top: 3px;
    cursor: pointer;
    color: rgba(51, 51, 51, 0.9);
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}
.right-shop .shop-info #view-cart:hover {
    color: #000;
}
.right-shop .shop-info #view-cart:hover .cart-tooltip {
    opacity: 1;
    visibility: visible;
    top: -44px;
}
.right-shop .shop-info #view-cart .cart-tooltip {
    font-size: 16px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    position: absolute;
    top: -30px;
    left: -10px;
    width: 86px;
    display: block;
    height: 20px;
    background-color: #222;
    padding: 8px 0;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s, top .2s, visibility .2s;
    -moz-transition: opacity .2s, top .2s, visibility .2s;
    -o-transition: opacity .2s, top .2s, visibility .2s;
    transition: opacity .2s, top .2s, visibility .2s;
}
.right-shop .shop-info #view-cart .cart-tooltip:after {
    content: "";
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 7px solid #222;
    position: absolute;
    top: 36px;
    left: 37px;
}
.shop-item {
    background-color: #333;
    -webkit-box-shadow: 1px 1px 0 #222, 2px 2px 0 #222, 3px 3px 0 #222, 4px 4px 0 #222, 5px 5px 0 #222;
    -moz-box-shadow: 1px 1px 0 #222, 2px 2px 0 #222, 3px 3px 0 #222, 4px 4px 0 #222, 5px 5px 0 #222;
    box-shadow: 1px 1px 0 #222, 2px 2px 0 #222, 3px 3px 0 #222, 4px 4px 0 #222, 5px 5px 0 #222;
    width: 234px;
    margin: 5px;
    margin-left: 2px;
    min-height: 270px;
    display: inline-block;
    border: 2px solid #333;
    text-align: center;
    position: relative;
    vertical-align: top;
}
.shop-item .item-image .product {
    width: 228px;
    height: 228px;
    border: 3px solid #fff;
    -webkit-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s;
    cursor: pointer;
    color: #fff;
}
.shop-item .item-image .zoomin {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 10px;
    top: 190px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.shop-item .item-image:hover img {
    border-color: #F03247;
}
.shop-item .item-image:hover .zoomin {
    opacity: 1;
}
.item-image .item-overlay {
    width: 234px;
    height: 234px;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
.item-image .item-overlay img {
    display: none;
    width: 32px;
    height: 32px;
    position: relative;
    top: 50%;
    margin-top: -16px;
    color: #fff;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.shop-item p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px 0;
}
.shop-item .item-description {
    margin: 5px;
    min-height: 20px;
    word-wrap: break-word;
    font-size: 18px;
}
.shop-item .item-price {
    background-color: #eee;
    color: #111;
    padding: 5px 0;
    font-size: 18px;
}
.shop-item .btn-cart {
    display: inline-block;
    background-color: #eee;
    text-align: center;
    padding: 10px;
    color: #222;
    text-decoration: none;
    font-weight: 300;
    border: 1px solid #eee;
    margin: 5px 0;
    -webkit-transition: background-color .2s, color .2s;
    -moz-transition: background-color .2s, color .2s;
    -o-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}
.shop-item .btn-cart i {
    position: relative;
    top: -1px;
    left: -2px;
    font-size: 18px;
}
.shop-item .btn-cart:hover {
    background-color: #F03247;
    color: #fff;
}
#cart-items {
    display: none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    width: 830px;
    height: 100%;
}
#cart-items h2 {
    font-size: 24px;
    padding: 0 0 20px 0;
}
#cart-items table thead {
    text-align: left;
}
#cart-items table {
    width: 800px;
}
#cart-items table thead tr {
    background-color: #eee;
    border: 1px solid #222;
}
#cart-items table tbody tr {
    font-weight: 300;
    border-bottom: 1px solid #222;
}
#cart-items table tbody tr:nth-of-type(even) {
    background-color: #F0F0F0;
}
#cart-items table thead th {
    padding: 8px;
    font-size: 18px;
}
#cart-items table tbody td {
    padding: 10px 8px;
    height: 100px;
    vertical-align: middle;
}
#cart-items table tbody .total-price td {
    height: 30px;
    font-size: 18px;
    font-weight: 400;
}
#cart-items table tbody td img {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #222;
}
#cart-items table tbody td p {
    float: left;
    height: 100px;
    padding-left: 15px;
}
#cart-items table tbody td span {
    display: block;
    font-size: 18px;
}
#cart-items table tbody td a {
    margin-top: 63px;
    letter-spacing: 1.1px;
    display: block;
    text-decoration: none;
    width: 60px;
    color: #F03247;
}
#cart-items table tbody td a:hover {
    text-decoration: underline;
}
#cart-items table tbody .cart-pay {
    border-bottom: none;
}
#cart-items table tbody .cart-pay td {
    height: 60px;
}
#cart-items table tbody .cart-pay a {
    margin-top: 0;
    color: #000;
    width: 80px;
    display: block;
    font-weight: 400;
    padding: 9px 18px;
    border: 2px solid #000;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color .2s, color .2s;
    -moz-transition: background-color .2s, color .2s;
    -o-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}
#cart-items table tbody .cart-pay a:hover {
    background-color: #F03247;
    text-decoration: none;
    color: #fff;
}