body {
    background: #F1F3F3 url("../images/background.png") no-repeat;
    background-position: right 535px;
}
.header {
    background-color: rgba(51, 51, 51, 0.9);
}
.main-wrap {
    width: 100%;
    min-height: 500px;
    padding: 140px 0 80px;
}
.main {
    width: 960px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}
.main h2 {
    color: #333;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.main p {
    color: #444;
    margin: 15px 0 45px;
    font-size: 20px;
    text-align: center;
}
.sitemap-table {
    width: 100%;
}
.sitemap-table thead {
    background-color: #444;
    color: #fff;
}
.sitemap-table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.8);
}
.sitemap-table tbody tr:nth-child(odd) {
    background-color: rgba(238, 238, 238, 0.8);
}
.sitemap-table tbody tr:hover {
    background-color: #F03247;
}
.sitemap-table th {
    padding: 20px 10px;
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid #222;
}
.sitemap-table td {
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 300;
    color: #222;
    border-bottom: 1px solid #222;
}
.sitemap-table a {
    color: #222;
    text-decoration: none;
}
.sitemap-table a:hover {
    text-decoration: underline;
}
.sitemap-table tbody tr:hover td, .sitemap-table tbody tr:hover a {
    color: #fff;
}
#formEmail .btnEmail {
    margin-left: 3px;
}
#searchForm #formSearch #btnSearch {
    position: relative;
    left: 4px;
}
#surveyForm table tr td label {
    color: #fff;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .loginForm input {
        width: 189px;
    }
}